body{margin:0}


#container {
        width: 2440px;
        height: 2440px;
                border: 1px solid gray;

    }
div#container {
    background-color: #fff;
}
.node-column {
	background-color: #f0f9ff;
	list-style-type: none;
	padding: 5px;
	margin: 0px;

}


.node-view{
	width: 200px;
	min-width: 200px;
	background-color: #e8e8e8;
	padding: 5px;
	border: 1px solid #000;
	margin: 0px;

}

.node-view ul{
	padding: 0px;
}

.node-view li{
		border: 1px solid #ccc;
}

 .item {
      position: absolute;
       background-color: #C2C2C2;
      border: 1px solid rgb(204, 204, 204);
         width: 100px;
		 	border-radius: 4px;
	padding: 2px 5px 5px 5px;
	width: auto;
	float: left;
	z-index: 10;
	min-width: 260px;
      }

.toolbox button{
	padding: 5px;

}

      #state1 {
  position: absolute;
  left: 100px;
  top: 100px;
}
      
#state2 {
  position: absolute;
  left: 250px;
  top: 100px;
}
      
#state3 {
  position: absolute;
  left: 100px;
  top: 250px;
}


.label {
	background-color: #637b94;
	font-size: 11px;
	z-index: 11;
}


#biodesign-logo {
	left: 0px;
	bottom: 0px;
	position: fixed;
	z-index: 1;
}


#biodesign-logo img {
}